html, body {
	background-color: rgb(245, 234, 214);
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: sans-serif;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

canvas {
	border: 1px solid blue;
}